---
- name: CI Pipeline
  hosts: build
  become: yes
  vars:
    remote_workspace: "/tmp/builds/{{ build_number }}"
    mvn_cmd: "mvn -s {{ remote_workspace }}/settings.xml -f {{ remote_workspace }}/pom.xml"

  tasks:
    - name: Setup Workspace
      block:
        - file: { path: "{{ remote_workspace }}", state: directory, mode: '0755' }
        - copy: { src: "{{ workspace }}/", dest: "{{ remote_workspace }}/" }
      tags: build

    - name: Maven Stages
      command: "{{ mvn_cmd }} {{ item }}"
      loop:
        - "clean compile"
      tags: build

    - name: Maven Test
      command: "{{ mvn_cmd }} test"
      register: test_result
      ignore_errors: yes
      tags: test

    - name: Ensure local target directory exists
      file:
        path: "{{ workspace }}/target/surefire-reports"
        state: directory
        mode: '0755'
      delegate_to: localhost
      become: no
      tags: test

    - name: Find Test Result Files
      find:
        paths: "{{ remote_workspace }}/target/surefire-reports"
        patterns: "*.xml"
      register: test_files
      tags: test

    - name: Fetch Test Results to Jenkins
      fetch:
        src: "{{ item.path }}"
        dest: "{{ workspace }}/target/surefire-reports/{{ item.path | basename }}"
        flat: yes
      loop: "{{ test_files.files }}"
      when: test_files.files | length > 0
      tags: test

    - name: Fail if tests failed
      fail:
        msg: "Maven tests failed with return code {{ test_result.rc }}"
      when: test_result.rc != 0
      tags: test

    - name: Sonar Analysis
      command: >
        {{ mvn_cmd }} sonar:sonar
        -Dsonar.projectKey=password-generator-{{ build_number }}
        -Dsonar.projectName=PasswordGenerator
        -Dsonar.host.url={{ sonar_url }}
        -Dsonar.login={{ sonar_token }}
      tags: sonar

    - name: Package
      command: "{{ mvn_cmd }} package -DskipTests"
      tags: package

    - name: Nexus Deploy
      command: >
        {{ mvn_cmd }} deploy -DskipTests
        -DaltDeploymentRepository=nexus-releases::default::{{ nexus_url }}/repository/maven-releases/
      tags: nexus

    - name: Docker Build & Push
      block:
        - docker_login: { username: "{{ docker_user }}", password: "{{ docker_pass }}" }
        - shell: |
            cd {{ remote_workspace }}
            docker build -t {{ image_name }}:{{ build_number }} .
            docker push {{ image_name }}:{{ build_number }}
            docker tag {{ image_name }}:{{ build_number }} {{ image_name }}:latest
            docker push {{ image_name }}:latest
      tags: docker

    - name: Cleanup
      file: { path: "{{ remote_workspace }}", state: absent }
      tags: cleanup
