---
- name: Deploy WAR to Tomcat
  hosts: tomcat
  become: yes
  vars:
    tomcat_webapps: "/opt/tomcat/webapps"

  tasks:
    - name: Redeploy Application
      block:
        - systemd: { name: tomcat, state: stopped }
        - file:
            path: "{{ tomcat_webapps }}/{{ item }}"
            state: absent
          loop: [ROOT, ROOT.war]
        - copy:
            src: "target/ROOT.war"
            dest: "{{ tomcat_webapps }}/ROOT.war"
            owner: tomcat
            group: tomcat
            mode: '0644'
        - systemd: { name: tomcat, state: started }
        - wait_for: { port: 8080, delay: 10, timeout: 60 }
