---
- name: Deploy WAR to Tomcat
  hosts: tomcat
  become: yes
  vars:
    tomcat_webapps: "/opt/tomcat/webapps"
    build_server: "{{ groups['build'][0] }}"
    remote_war: "/tmp/builds/{{ build_number }}/target/ROOT.war"

  tasks:
    - name: Redeploy Application
      block:
        - systemd: { name: tomcat, state: stopped }
        - file:
            path: "{{ tomcat_webapps }}/{{ item }}"
            state: absent
          loop: [ROOT, ROOT.war]
        - name: Fetch WAR from Build Server
          delegate_to: "{{ build_server }}"
          fetch:
            src: "{{ remote_war }}"
            dest: "/tmp/ROOT.war"
            flat: yes
          become: yes
        - name: Copy WAR to Tomcat
          copy:
            src: "/tmp/ROOT.war"
            dest: "{{ tomcat_webapps }}/ROOT.war"
            owner: tomcat
            group: tomcat
            mode: '0644'
        - systemd: { name: tomcat, state: started }
        - wait_for: { port: 8080, delay: 10, timeout: 60 }
